<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FLATICON ===============-->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css"
    />

    <!--=============== SWIPER CSS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="public/assets/css/styles.css" />

    <title>Ecommerce Website</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header">
       <div class="header__top"> 
        <div class="header__container container">
          <div class="header__contact">
            <span>(+01) - 2345 - 6789</span>
            <span>Our location</span>
          </div>
          <p class="header__alert-news">
            Super Values Deals - Save more coupons
          </p>

       
<%if(locals.user){%>
  <div class="user-dropdown">
    <button class="dropbtn">
      <i class="fi fi-rs-user"></i>
      <%= locals.user.name %>
      <i class="fi fi-rs-angle-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/profile"><i class="fi fi-rs-user"></i> Profile</a>
      <div class="dropdown-divider"></div>
      <a href="/logout"><i class="fi fi-rs-sign-out"></i> Logout</a>
    
    </div>
  </div>
<%}else{%>
  <div class="auth-links">
    <a href="/signup" class="sign-in-link">Sign Up</a>
    <a href="/logout" class="sign-in-link">Log In</a>
  </div>
<%}%>





        </div>

      </div> 

      <nav class="nav container">
        <a href="index.html" class="nav__logo">
          <img
            class="nav__logo-img"
            src="public/assets/img/logo.svg"
            alt="website logo"
          />
        </a>
        <!-- <a href="index.html" class="nav__logo">
          <img
            class="nav__logo-img"
            src="public/assets/img/watchlogo.png"
            alt="website logo"
          />
        </a> -->
        <div class="nav__menu" id="nav-menu">
          <div class="nav__menu-top">
            <a href="index.html" class="nav__menu-logo">
              <img src="./assets/img/logo.svg" alt="">
            </a>
            <div class="nav__close" id="nav-close">
              <i class="fi fi-rs-cross-small"></i>
            </div>
          </div>
          <ul class="nav__list">
            <li class="nav__item">
              <a href="/" class="nav__link ">Home</a>
            </li>
            <li class="nav__item">
              <a href="/shop" class="nav__link">Shop</a>
            </li>
            <li class="nav__item">
              <a href="accounts.html" class="nav__link">My Account</a>
            </li>
            <li class="nav__item">
              <a href="compare.html" class="nav__link">Compare</a>
            </li>
            <li class="nav__item">
              <a href="login-register.html" class="nav__link">Login</a>
            </li>
          </ul>
          <div class="header__search">
            <input
              type="text"
              placeholder="Search For Items..."
              class="form__input"
            />
            <button class="search__btn">
              <img src="public/assets/img/search.png" alt="search icon" />
            </button>
          </div>
        </div>
        <div class="header__user-actions">
          <a href="wishlist.html" class="header__action-btn" title="Wishlist">
            <img src="public/assets/img/icon-heart.svg" alt="" />
            <span class="count">3</span>
          </a>
          <a href="cart.html" class="header__action-btn" title="Cart">
            <img src="public/assets/img/icon-cart.svg" alt="" />
            <span class="count">3</span>
          </a>
          <div class="header__action-btn nav__toggle" id="nav-toggle">
            <img src="./assets//img/menu-burger.svg" alt="">
          </div>
        </div>
      </nav>
    </header>