<%- include('../partials/user/header') %>
<form action="/profile/change-password" method="POST">
  <input type="password" name="oldPassword" placeholder="Old Password" required>
  <input type="password" name="newPassword" placeholder="New Password" required>
  <input type="password" name="confirmPassword" placeholder="Confirm New Password" required>
  <button type="submit">Change Password</button>
  <% if (message) { %><div><%= message %></div><% } %>
</form>
<%- include('../partials/user/footer') %>