<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Reset Password</title>
</head>
<body>
<div>
  <h2>Reset Password</h2>
  <% if (message) { %><div><%= message %></div><% } %>
  <form action="/reset-password" method="POST">
    <input type="password" name="password" required placeholder="New Password">
    <input type="password" name="confirmpassword" required placeholder="Confirm Password">
    <button type="submit">Reset Password</button>
  </form>
</div>
</body>
</html>